@font-face {
  font-family: "iconfont"; /* Project id 2972887 */
  src: url('iconfont.woff2?t=1638324994660') format('woff2'),
       url('iconfont.woff?t=1638324994660') format('woff'),
       url('iconfont.ttf?t=1638324994660') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e631";
}

.icon-more:before {
  content: "\e637";
}

.icon-back:before {
  content: "\e679";
}

.icon-heroMenu:before {
  content: "\e6c6";
}

.icon-menu:before {
  content: "\e672";
}

